.navContainer {
  width: 90%;
  max-width: 1200px;
  margin: 15px auto;
  height: 70px;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  box-shadow: 2px 2px 4px #f1f1f1;
  @include flexMid;
  img,
  i {
    width: 40px;
    margin-right: 40px;
    font-size: 40px;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    li {
      cursor: pointer;
      font-size: 20px;
      transition: all 033s;
    }

    li:hover {
      text-decoration: underline;
      text-underline-offset: 8px;
      font-weight: bold;
    }
  }
}

.footer {
  border-color: #f1f1f1;
  color: #333;
  width: 100%;
  height: 60px;
  @include flexMid;

  h3 {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

.header {
  width: 100%;
  height: 120px;
  @include flexMid;
  background: linear-gradient(00deg, #333 8%, #f1f1f1 92%);
}
