.containerConnexion {
  width: 100%;
  p {
    color: moccasin;
  }

  .entry_formulaire {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;

    label {
      text-decoration: underline;
      text-underline-offset: 8px;
    }

    input {
      height: 40px;
      border-radius: 5px;
      padding: 5px;
      //   outline: none;
      border: none;
    }
  }
  button {
    display: block;
    width: 90%;
    margin: 40px auto;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    transition: all 0.25s;

    &:hover {
      background-color: #000;
      color: white;
    }
  }
}

.profil {
  #mail {
    width: 80%;
    display: flex;
    align-items: center;
  }

  .div_cachee {
    display: none;
  }

  i {
    color: blue;
    font-size: 25px;
  }
  button {
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.25s;
    cursor: pointer;
    box-shadow: 2px 2px 2px white;

    &:hover {
      background-color: #000;
      box-shadow: 2px 2px 2px #555;
      color: white;
    }
    &:hover i {
      color: white;
    }
    &:hover a {
      color: white;
    }
  }

  .entry_formulaire {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;

    label {
      text-decoration: underline;
      text-underline-offset: 8px;
      margin-bottom: 20px;
    }

    input {
      height: 40px;
      border-radius: 5px;
      padding: 5px;
      //   outline: none;
      border: none;
      width: 100%;
    }
    button {
      width: 100%;
      margin: 20px auto;
      box-shadow: none;
    }
  }
  .desactive {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }

  #modifBtn {
    width: 100px;
    height: 50px;
    background-color: #fff;
    @include flexMid;
    border-radius: 20px;
    cursor: pointer;
  }

  .btnModifMDP{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-weight: bold;
  }

  .alertPWD {
    width: 90%;
    padding: 10px 20px;
    margin: 20px auto;
    @include flexMid;
    background-color: rgb(248, 107, 107);
    color: black;
    border-radius: 8px;
    transition: all 0.75s;
    h3 {
      font-weight: bold;
    }
  }
  .dnone{
    display: none;
    transition: all 0.75s;
  }

  .btnSuppCompte{
    background-color: rgb(235, 80, 80);
    box-shadow: 2px 2px 4px red;
    border : 4px solid red;
    font-weight: bold;
  }

  
  
}
.validationSupp{
  background-color: rgb(235, 80, 80);
  box-shadow: 2px 2px 4px red;
  border : 4px solid red;
  border-radius: 10px;
  font-weight: bold;
  width: 390px;
  height: 80px;
  margin: 20px;
  color:black;
  @include flexMid;
  text-align: center;
  padding: 5px;
  line-height: 25px;
  cursor: pointer;
}
.dnone{
  display: none;
  transition: all 0.75s;
}

.imageEtModif{
display: flex;
align-items: center;
text-align: center;
}
